
{if !empty($config->gtm->id)}

<!-- Google Tag Manager -->
<script>
	{syntax off}

	(function(w,d,s,l,i){ w[l]=w[l]||[];w[l].push({ 'gtm.start':
    new Date().getTime(),event:'gtm.js' });var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    }){/syntax}(window,document,'script','dataLayer',{$config->gtm->id});
</script>

{/if}

{if !empty($config->analytics->id)}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={$config->analytics->id}"></script>
<script>
	{syntax off}

	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	
	{/syntax}

	gtag('config', {$config->analytics->id});
</script>

{/if}